body{

    background-color: black;
   
}
main {

    background-color:white;
    height: 350px;
    width: 600px;
    border:2px solid rgb(211, 198, 198);
   
    border: 3px solid red;

    margin: auto;
    margin-top: 200px;
}

h1 {

    color:black;
    text-align: center;
    padding-top: 20px;
    font-weight:normal;
    word-spacing: 7px;
    letter-spacing: 2px;
 
    font-family: fantasy;
} 



.space,
.name,
.complated{

    display: flex;
    margin-left: 20px;
    

}



.space p{

    margin-left: 224px;
    font-family: fantasy;
    font-size:large;
}
   
.name p{

    border: 2px solid rgb(5, 3, 3);
    width: 150px;
    height: 25px;
    margin-left: 246px;
    padding-left: 55px;
    
    font-size:large;
}


.complated input{

    margin-left: 200px;
    cursor: pointer;
    

}

.back{

    width: 200px;
    height: 50px;
    background-color: rgb(133, 43, 163);
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 20px;
    box-shadow: 3px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid white;

}

.back a{

    color:white;
    text-decoration: none;
}

.change {
    width: 350px;
    height: 40px;
    background-color:rgb(133, 43, 163);
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: -13px;
    box-shadow: 3px;
    border-radius: 5px 5px 5px 5px;
}
.change h2{

    color:white;
  
    text-align: center;
    display: block;
    margin: auto;
    font-size:small;
    letter-spacing: 2px
}


    

